body {
    font-family: 'Sofia Sans', sans-serif;
  }
  
.inline-block {
  display: inline-block;
  vertical-align: top;
  width: 130%;
  text-align: right;
  
}

.logo {
  width: 25%;
  padding: 1%;
  text-align: center;
  
}

.navigation {
  width: 73%;
  padding: 1%;
}

.heroImg {
  height: 600px;
  padding: 60px;
  align-content: center;
}

.resume {
    align-content: center;
}

.content {
  width: 500px;
  margin: 0 auto;
}

.ul {
  display: inline-block;
  vertical-align: right;
  padding: 25px;
  color: white;
}

.p  {
  color: white;
}

.a {
  color: white;
}

.myWork {
    text-align: center;
}

.projectbutton {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.mySkills {
    text-align: center;
}

.workGrid {
    display: grid;
}


.footer {
    background-color: #373738;
   position: bottom;
   height: 200px;
   margin-top: -100px;
   clear: both;
  }

  @media screen and (max-width: 600) {
}