body {
    font-family: 'Sofia Sans', sans-serif;
  }
  
.inline-block {
  display: inline-block;
  vertical-align: top;
  width: 130%;
  text-align: right;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
  
}

.navigation {
  width: 73%;
  padding: 1%;
}

.heroImg {
  height: 600px;
  padding: 60px;
  align-content: center;
}

.content {
  width: 500px;
  margin: 0 auto;
}

.footer {
  background-color: #373738;
  padding: 25px;
  width: 100%;
}

.ul {
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  color: white;
}

.p  {
  color: white;
}

.a {
  color: white;
}

.flexContainer {
    display: flex;
    width: 33%;
    margin: 0;
    padding: 0;
}